# Node & Expo cache'leri
node_modules
.expo
.turbo
.next
build
dist

# Android build klasörleri
android/.gradle
android/app/build
android/

# iOS build klasörleri
ios/

# Paket yöneticisi dosyaları
yarn.lock
package-lock.json
npm-debug.log*

# Ortam dosyaları
.env
*.jks
*.keystore

# Log ve hata dosyaları
*.log
